<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">

    <!--    Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous"/>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet"/>


</head>

<body>
<!-- Static navbar -->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <!--    <a class="navbar-brand" href="#">The Music Store</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">The Music Store<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Instruments
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Electric Guitars</a>
                        <a class="dropdown-item" href="#">Acoustic Guitars</a>
                        <a class="dropdown-item" href="#">Bass Guitars</a>
                        <a class="dropdown-item" href="#">Drums</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<div th:fragment="body-bottom-scripts">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
</div>
</body>
</html>