/*body {*/
/*    padding-top: 20px;*/
/*    padding-bottom: 20px;*/
/*    background: linear-gradient(#0c5460, burlywood);*/
/*}*/

.instruments {
    background-color: white;
}

.index {
    background: linear-gradient(#0c5460, burlywood);
}

.indexLogOut {
    padding-bottom: 10px;
    background: linear-gradient(#0c5460, burlywood);
}

.container-table {
    padding-left: 245px;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 971px;
    height: 775px;
    padding-left: 5px;
    /*margin: 40px auto;*/
}

.navbar {
    border: 0;
    padding-bottom: 5px;
    font-size: 4mm;
}

.CategoryTitle {
    font-size: 10mm;
    margin-bottom: 12mm;
    margin-left: 58px;
}

#guitars-filter {
    margin-bottom: 4mm;
}

#field-up {
    width: 185px;
    height: 30px;
    font-size: 13px;
}

#field-down {
    width: 185px;
    height: 30px;
    font-size: 13px;
}

.dropdown-menu {
    font-size: 3.5mm;
    background-color: darkgrey;
    text-decoration-color: white;
    width: 130px;
}

.center-block {
    font-size: 5mm;
    text-align: center;
}

.form-control {
    font-size: 3.3mm;
}

#drop-down-menu-2 {
    width: 185px;
    height: 80px;
    font-size: 13px;
    background-color: #ffffff;
    left: 64px;
}

#dropdownMenu2 {
    width: 185px;
    height: 30px;
    font-size: 15px;
    position: absolute;
    top: -30px;
    left: 64px;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.card {
    width: 278px;
    height: 407px;
    position: absolute;
    top: 82px;
    left: 0px;
    font-size: 14px;
    background-color: #f3f3f3;
}

#searchInstrument {
    position: relative;
    top: -165px;
    left: 699px;
    width: 226px;
    height: 12mm;
}

.form-inline .form-control {
    display: inline-block;
    width: 277px;
    vertical-align: middle;
    height: 30px;
    position: relative;
    left: 266px;
}

.title {
    font-size: 14px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    height: 29px;
    position: relative;
    left: 500px;
    top: -30px;
    margin-right: 0px;
}


#b1 {
    border-radius: 0;
    position: absolute;
    right: 99px;
}

#b2 {
    border-radius: 0;
    position: absolute;
    right: 149px;
}



